html {
    background: whitesmoke;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    background: whitesmoke;
}

article, footer {
    display: block;
    max-width: 900px;
    min-width: 360px;
    width: 80%;
}

article {
    background: #fff;
    border: 1px solid;
    border-color: #efefef;
    margin: 3em auto 0 auto;
    padding: 3em;
}

h1 {
    margin-top: 0;
}

article p:first-of-type {
    margin-top: 1.6em;
}

article p:last-child {
    margin-bottom: 0;
}

footer {
    margin: 0 auto 2em auto;
    text-align: center;
}

footer a {
    color: #666;
    font-size: inherit;
    padding: 1em;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
}

footer a:hover, footer a:focus {
    color: #111;
}

h1, h2 {
    border-bottom: 1px solid rgb(189, 189, 189);
    display: inline;
    font-weight: normal;
    line-height: 36px;
    padding: 0 0 3px 0;
}

a {
    color: #2844FA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1B29A4;
}

a:active {
    color: #000;
}

:-moz-any-link:focus {
    border: 0;
    color: #000;
}

::selection {
    background: whitesmoke;
}

::-moz-selection {
    background: whitesmoke;
}

button, input[type=button] {
    -moz-border-radius: 3px;
    -moz-transition: none;
    -webkit-transition: none;
    background: #0370ea;
    background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
    background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: .8em;
    line-height: 1.3;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    font-size: 1.5em;
}

button:hover, input[type=button]:hover {
    background: rgb(9, 147, 240);
}

button:active, input[type=button]:active {
    background: rgb(10, 118, 190);
}

button[disabled], input[type=button][disabled] {
    background: none;
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}

strong {
    color: rgb(204, 14, 14);
    font-family: inherit;
    font-weight: normal;
}

tr, td, th {
    vertical-align: top;
    padding: .7em 1.4em;
    border-top: 1px dotted #BBA9A9;
    border-right: 1px dotted #BBA9A9;
}

table, tbody, tr, td {
	width: 100%!important;
}

.table-style {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: block;
    width: 728px;
    overflow: auto;
    word-break: normal;
    color: rgb(51, 51, 51);
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 25.6000003814697px;
    "><thead><tr style="border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
  }
  .tr-style {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
    background-color: rgb(248, 248, 248);
  }
  .td-style {
    padding: 6px 13px;
    border: 1px solid rgb(221, 221, 221);
  }
  .td-style2 {
    color: rgb(65, 131, 196);
    text-decoration: none;
    background: transparent;
  }


.experiment {
    border: 1px solid rgb(189, 189, 189);
    margin: 2em 3em;
    border-radius: .2em;
    text-align: left;
}

.experiment .header {
    padding: .2em .4em;
}

.experiment .description {
    padding: .8em 1.4em;
}

ol {
    margin-left: 1em;
}

.author-name {
    color: #444;
}


@media all and (max-width: 800px) {
    body {
        font-size: 1.1em;
    }

    article {
        margin: 1.5em auto 0 auto;
        padding: 1.5em;
    }

    .experiment {
        margin: 1em .2em;
    }
}

@media all and (max-width: 500px) {
    body {
        font-size: .9em;
    }

    article {
        margin: .5em auto 0 auto;
        padding: .5em;
    }

    .experiment {
        margin: 1em .1em;
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: .8em;
    }

    article {
        margin: 0 auto 0 auto;
        padding: 0;
    }

    .experiment {
        margin: 1em 0;
    }
}

li pre {
    margin: 0;
}

li h2 {
    color: red;
}

li li h2 {
    font-size: 1em;
    color: rgb(6, 101, 243);
}


select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 50px;
    margin-left: 1em;
    margin-right: -5px;
    padding: 1.1em;
    vertical-align: 6px;
}

p {
    padding: 1em;
    padding-bottom: .4em;
}


audio, video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;

    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    margin-left: 5px
}

input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}

.setup {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 102%;
    height: 47px;
    margin-left: -9px;
    margin-top: 8px;
    position: absolute;
}

li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
}

.highlight { color: rgb(0, 8, 189); }
